<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=am.ik.archetype"/>
        <listEntry value="archetypeArtifactId=graalvm-springmvc-blank-archetype"/>
        <listEntry value="archetypeVersion=0.1.2"/>
        <listEntry value="groupId=Loggexample"/>
        <listEntry value="artifactId=com.log.exaam"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=Loggexample.com.log.exaam"/>
        <listEntry value="outputDirectory=C:\Users\sriha\eclipse-new(nov13)"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\sriha\AppData\Local\Temp\m2e-archetypeGenerator17399392618918370834"/>
</launchConfiguration>
